In [20]:
import pandas as pd

## Criar DataFrames com base no Datasets

In [21]:
# carregar Dataframe de Clientes (customers)
df_customers = pd.read_csv("./datasets/churn_customers.csv")

In [22]:
# mostrar 7 primeiros registros do DataFrame
df_customers.head(5)

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [23]:
# mostrar 7 últimos registros do DataFrame
df_customers.tail(5)

      customerID  gender  SeniorCitizen Partner Dependents
7038  6840-RESVB    Male              0     Yes        Yes
7039  2234-XADUH  Female              0     Yes        Yes
7040  4801-JZAZL  Female              0     Yes        Yes
7041  8361-LTMKD    Male              1     Yes         No
7042  3186-AJIEK    Male              0      No         No

In [24]:
# exibir informações gerais do DataFrame e sua estrutura
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [25]:
# carregar Dataframe de Serviços (services)
df_services = pd.read_csv("./datasets/churn_services.csv")
# exibir informações gerais do DataFrame e sua estrutura
df_services.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   PhoneService      7043 non-null   object
 2   MultipleLines     7043 non-null   object
 3   InternetService   7043 non-null   object
 4   OnlineSecurity    7043 non-null   object
 5   OnlineBackup      7043 non-null   object
 6   DeviceProtection  7043 non-null   object
 7   TechSupport       7043 non-null   object
 8   StreamingTV       7043 non-null   object
 9   StreamingMovies   7043 non-null   object
dtypes: object(10)
memory usage: 550.4+ KB

In [26]:
# carregar Dataframe de contratos (contracts)
df_contracts = pd.read_csv("./datasets/churn_contracts.csv")
# exibir informações gerais do DataFrame e sua estrutura
df_contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7043 non-null   object
 7   Churn             7043 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 440.3+ KB

## Transformação de Dados

In [27]:
# transformar coluna TotalCharges de String para Float - abordagem 1 com "astype"
df_contracts["TotalCharges"] = df_contracts["TotalCharges"].astype(float)
df_contracts.info()

ValueError: could not convert string to float: ' '

In [ ]:
# transformar coluna TotalCharges de String para Float - abordagem 2 com "to_numeric"
df_contracts["TotalCharges"] = pd.to_numeric(df_contracts["TotalCharges"])
df_contracts.info()

ValueError: Unable to parse string " " at position 488

In [ ]:
# transformar coluna TotalCharges de String para Float - abordagem 3 com "to_numeric" com "coerce"
df_contracts["TotalCharges"] = pd.to_numeric(df_contracts["TotalCharges"], errors="coerce")
df_contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7032 non-null   float64
 7   Churn             7043 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 440.3+ KB

In [60]:
# a coluna TotalCharges passou a ter 11 valores ausentes
print((df_contracts['TotalCharges'] == ' ').sum())

11